{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static "assets/fonts/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/untitled.css" %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>College List</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="profile"><i
                                class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href=".."><i
                                class="fas fa-book-reader"></i><span>College Search</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="schoolsApplied"><i
                                class="fas fa-school"></i><span>Schools Applied</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <h1>College Advising</h1>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false"
                                        href="#">
                                        <span class="d-none d-lg-inline mr-2 text-gray-600 small">{{currentUser.first_name}} {{currentUser.last_name}}</span>
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">

                                        <a class="dropdown-item" role="presentation" href="logout">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            &nbsp;Logout
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">College Advising List</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">School Info
                                <button class="btn btn-success"
                                    id = "searchSchoolsBtn"
                                    style="width: 150px;margin: 5px;margin-left: 7px;background-color: rgb(28,190,200);">Search
                                    Schools</button>

                                    <button class="btn btn-success" 
                                    style="width: 200px;margin: 5px;margin-left: 1px;">Search Safety Schools</button>
                                <button class="btn btn-success"
                                    style="width: 200px;margin: 5px;margin-left: 0px;background-color: rgb(28,107,200);">Search
                                    Match Schools</button><button class="btn btn-success" 
                                    style="width: 200px;margin: 5px;margin-left: 1px;background-color: rgb(200,28,49);">Search
                                    Reach Schools</button></p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap"><label class="col-form-label">In/Out of State:
                                        &nbsp;<select
                                            class="form-control form-control-sm custom-select custom-select-sm"
                                            style="width: 169px;"
                                            id = "inOutInput">
                                            <option value="0" selected="">In State</option>
                                            <option value="1">Out of State</option>
                                        </select>&nbsp;</label></div>
                                <div class="col-md-6 text-nowrap"><label class="col-form-label"
                                        style="margin-top: 1px;">State Initials:&nbsp;<select
                                        class="form-control form-control-sm custom-select custom-select-sm"
                                        style="width: 169px;"
                                        id = "stateInput">
                                            <option value="">--</option>
                                            <option value="AL">Alabama</option>
                                            <option value="AK">Alaska</option>
                                            <option value="AZ">Arizona</option>
                                            <option value="AR">Arkansas</option>
                                            <option value="CA">California</option>
                                            <option value="CO">Colorado</option>
                                            <option value="CT">Connecticut</option>
                                            <option value="DE">Delaware</option>
                                            <option value="DC">District Of Columbia</option>
                                            <option value="FL">Florida</option>
                                            <option value="GA">Georgia</option>
                                            <option value="HI">Hawaii</option>
                                            <option value="ID">Idaho</option>
                                            <option value="IL">Illinois</option>
                                            <option value="IN">Indiana</option>
                                            <option value="IA">Iowa</option>
                                            <option value="KS">Kansas</option>
                                            <option value="KY">Kentucky</option>
                                            <option value="LA">Louisiana</option>
                                            <option value="ME">Maine</option>
                                            <option value="MD">Maryland</option>
                                            <option value="MA">Massachusetts</option>
                                            <option value="MI">Michigan</option>
                                            <option value="MN">Minnesota</option>
                                            <option value="MS">Mississippi</option>
                                            <option value="MO">Missouri</option>
                                            <option value="MT">Montana</option>
                                            <option value="NE">Nebraska</option>
                                            <option value="NV">Nevada</option>
                                            <option value="NH">New Hampshire</option>
                                            <option value="NJ">New Jersey</option>
                                            <option value="NM">New Mexico</option>
                                            <option value="NY">New York</option>
                                            <option value="NC">North Carolina</option>
                                            <option value="ND">North Dakota</option>
                                            <option value="OH">Ohio</option>
                                            <option value="OK">Oklahoma</option>
                                            <option value="OR">Oregon</option>
                                            <option value="PA">Pennsylvania</option>
                                            <option value="RI">Rhode Island</option>
                                            <option value="SC">South Carolina</option>
                                            <option value="SD">South Dakota</option>
                                            <option value="TN">Tennessee</option>
                                            <option value="TX">Texas</option>
                                            <option value="UT">Utah</option>
                                            <option value="VT">Vermont</option>
                                            <option value="VA">Virginia</option>
                                            <option value="WA">Washington</option>
                                            <option value="WV">West Virginia</option>
                                            <option value="WI">Wisconsin</option>
                                            <option value="WY">Wyoming</option>
                                        </select>&nbsp;</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-nowrap"><label class="col-form-label">Tuition: &nbsp;<select
                                            class="form-control form-control-sm custom-select custom-select-sm"
                                            style="width: 169px;"
                                            id= "tuitionInput">
                                            <option value="1000000" selected="">No preference</option>
                                            <option value="5000">&lt; $5,000</option>
                                            <option value="20000">&lt; $20,000</option>
                                            <option value="40000">&lt; $40,000</option>
                                        </select>&nbsp;</label></div>
                                <div class="col-md-6"><label class="col-form-label">School Size: &nbsp;<select
                                            class="form-control form-control-sm custom-select custom-select-sm"
                                            style="width: 169px;"
                                            id= "sizeInput">
                                            <option value="999999" selected="">No preference</option>
                                            <option value="2000">&lt; 2,000</option>
                                            <option value="10000">&lt; 10,000</option>
                                            <option value="20000">&lt; 20,000</option>
                                            <option value="40000">&lt; 40,000</option>
                                        </select>&nbsp;</label></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-nowrap"><label class="col-form-label"
                                        style="margin-top: 1px;">Highest Degree:<select
                                            class="form-control form-control-sm custom-select custom-select-sm"
                                            style="width: 169px;margin-left: 8px;"
                                            id= "degreeInput">
                                            <option value="10" selected="">No preference</option>
                                            <option value="1">1 year school</option>
                                            <option value="2">2 year school</option>
                                            <option value="3">3 year school</option>
                                            <option value="4">4 year school</option>
                                        </select></label></div>
                                <div class="col-md-6"><label class="col-form-label">Gender: &nbsp;<select
                                            class="form-control form-control-sm custom-select custom-select-sm"
                                            style="width: 169px;"
                                            id= "genderInput">
                                            <option value="10" selected="">Co-ed</option>
                                            <option value="0">Male Only</option>
                                            <option value="1">Female Only</option>
                                        </select>&nbsp;</label></div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <table class="table dataTable my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>School Name</th>
                                            <th>State</th>
                                            <th>Website</th>
                                            <th>Tuition</th>
                                            <th>Size</th>
                                            <th>Average ACT</th>
                                        </tr>
                                    </thead>
                                    <tbody id="searchResults">
                                        <tr>
                                            <td>School</th>
                                            <td>State</td>
                                            <td>Website</td>
                                            <td>Tuition</td>
                                            <td>Size</td>
                                            <td>ACT</td>
                                        </tr>
                                        
                                    </tbody>
                                   
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>CS 411 Project</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static "assets/js/main.js" %}"></script>
    <script src="{% static "assets/js/theme.js" %}"></script>
</body>

</html>
