{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Brand</title>
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static "assets/fonts/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/untitled.css" %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>College List</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="profile.html"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="index.html"><i class="fas fa-book-reader"></i><span>College Search</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="SchoolsApplied.html"><i class="fas fa-school"></i><span>Schools Applied</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="login.html"><i class="far fa-user-circle"></i><span>Login</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="register.html"><i class="fas fa-user-circle"></i><span>Register</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="forgot-password.html"><i class="fas fa-key"></i><span>Forgotten Password</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <h1>College Advising</h1>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">first_name last_name</span><img class="border rounded-circle img-profile" src="assets/img/Professional%20Head%20picture.jpg"></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <h3 class="text-dark mb-4">College Advising List</h3>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">School Info<button class="btn btn-success" type="submit" style="width: 150px;margin: 5px;margin-left: 7px;background-color: rgb(28,190,200);">Search Schools</button><button class="btn btn-success" type="submit" style="width: 200px;margin: 5px;margin-left: 1px;">Search Safety Schools</button>
                            <button
                                class="btn btn-success" type="submit" style="width: 200px;margin: 5px;margin-left: 0px;background-color: rgb(28,107,200);">Search Match Schools</button><button class="btn btn-success" type="submit" style="width: 200px;margin: 5px;margin-left: 1px;background-color: rgb(200,28,49);">Search Reach Schools</button></p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap"><label class="col-form-label">In/Out of State: &nbsp;<select class="form-control form-control-sm custom-select custom-select-sm" style="width: 169px;"><option value="10" selected="">In State</option><option value="">Out of State</option></select>&nbsp;</label></div>
                            <div
                                class="col-md-6 text-nowrap"><label class="col-form-label" style="margin-top: 1px;">State Initials:<input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Ex: IL" style="margin-top: -25px;margin-right: 0px;padding-left: 8px;margin-left: 97px;width: 100px;margin-bottom: 0px;"></label></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-nowrap"><label class="col-form-label">Tuition: &nbsp;<select class="form-control form-control-sm custom-select custom-select-sm" style="width: 169px;"><option value="100000" selected="">No preference</option><option value="">&lt; $5,000</option><option value="">&lt; $20,000</option><option value="">&lt; $40,000</option></select>&nbsp;</label></div>
                        <div
                            class="col-md-6"><label class="col-form-label">School Size: &nbsp;<select class="form-control form-control-sm custom-select custom-select-sm" style="width: 169px;"><option value="100000" selected="">No preference</option><option value="">&lt; 2,000</option><option value="">&lt; 10,000</option><option value="">&lt; 20,000</option><option value="">&gt; 20,000</option></select>&nbsp;</label></div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-nowrap"><label class="col-form-label" style="margin-top: 1px;">Highest Degree:<select class="form-control form-control-sm custom-select custom-select-sm" style="width: 169px;margin-left: 8px;"><option value="10" selected="">No preference</option><option value="1">1 year school</option><option value="2">2 year school</option><option value="3">3 year school</option><option value="4">4 year school</option></select></label></div>
                    <div
                        class="col-md-6"><label class="col-form-label">Gender: &nbsp;<select class="form-control form-control-sm custom-select custom-select-sm" style="width: 169px;"><option value="10" selected="">Co-ed</option><option value="">Male Only</option><option value="">Female Only</option></select>&nbsp;</label></div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar1.jpeg">Airi Satou</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td>33</td>
                            <td>2008/11/28</td>
                            <td>$162,700</td>
                        </tr>
                        <tr>
                            <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar2.jpeg">Angelica Ramos</td>
                            <td>Chief Executive Officer(CEO)</td>
                            <td>London</td>
                            <td>47</td>
                            <td>2009/10/09<br></td>
                            <td>$1,200,000</td>
                        </tr>
                        <tr>
                            <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar3.jpeg">Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td>66</td>
                            <td>2009/01/12<br></td>
                            <td>$86,000</td>
                        </tr>
                        <tr>
                            <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar4.jpeg">Bradley Greer</td>
                            <td>Software Engineer</td>
                            <td>London</td>
                            <td>41</td>
                            <td>2012/10/13<br></td>
                            <td>$132,000</td>
                        </tr>
                        <tr>
                            <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar5.jpeg">Brenden Wagner</td>
                            <td>Software Engineer</td>
                            <td>San Francisco</td>
                            <td>28</td>
                            <td>2011/06/07<br></td>
                            <td>$206,850</td>
                        </tr>
                        <tr>
                            <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar1.jpeg">Brielle Williamson</td>
                            <td>Integration Specialist</td>
                            <td>New York</td>
                            <td>61</td>
                            <td>2012/12/02<br></td>
                            <td>$372,000</td>
                        </tr>
                        <tr>
                            <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar2.jpeg">Bruno Nash<br></td>
                            <td>Software Engineer</td>
                            <td>London</td>
                            <td>38</td>
                            <td>2011/05/03<br></td>
                            <td>$163,500</td>
                        </tr>
                        <tr>
                            <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar3.jpeg">Caesar Vance</td>
                            <td>Pre-Sales Support</td>
                            <td>New York</td>
                            <td>21</td>
                            <td>2011/12/12<br></td>
                            <td>$106,450</td>
                        </tr>
                        <tr>
                            <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar4.jpeg">Cara Stevens</td>
                            <td>Sales Assistant</td>
                            <td>New York</td>
                            <td>46</td>
                            <td>2011/12/06<br></td>
                            <td>$145,600</td>
                        </tr>
                        <tr>
                            <td><img class="rounded-circle mr-2" width="30" height="30" src="assets/img/avatars/avatar5.jpeg">Cedric Kelly</td>
                            <td>Senior JavaScript Developer</td>
                            <td>Edinburgh</td>
                            <td>22</td>
                            <td>2012/03/29<br></td>
                            <td>$433,060</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td><strong>Position</strong></td>
                            <td><strong>Office</strong></td>
                            <td><strong>Age</strong></td>
                            <td><strong>Start date</strong></td>
                            <td><strong>Salary</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>CS 411 Project</span></div>
        </div>
    </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-firestore.js"></script>
    <script src="{% static "assets/js/main.js" %}"></script>
    <script src="{% static "assets/js/theme.js" %}"></script>
</body>

</html>