{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static "assets/fonts/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/untitled.css" %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>College List</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="profile"><i
                                class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href=".."><i
                                class="fas fa-book-reader"></i><span>College Search</span></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="schoolsApplied"><i
                                class="fas fa-school"></i><span>Schools Applied</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <h1>College Advising</h1>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false"
                                        href="#">
                                        <span class="d-none d-lg-inline mr-2 text-gray-600 small">
                                            {{currentUser.first_name}} {{currentUser.last_name}}</span>
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">

                                        <a class="dropdown-item" role="presentation" href="logout">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                            &nbsp;Logout
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                                since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5%
                                                since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">User Settings</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-row">

                                                    <div class="col">
                                                        <div class="form-group"><label for="first_name"><strong>First
                                                                    Name</strong><br></label><input class="form-control"
                                                                type="text" placeholder="{{currentUser.first_name}}"
                                                                name="first_name"></div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-group"><label for="last_name"><strong>Last
                                                                    Name</strong><br></label><input class="form-control"
                                                                type="text" placeholder="{{currentUser.last_name}}"
                                                                name="last_name"></div>
                                                    </div>

                                                </div>

                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="email"><strong>Email
                                                                    Address</strong></label><input class="form-control"
                                                                type="email" placeholder="{{currentUser.email}}"
                                                                name="email"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label
                                                                for="gpa"><strong>GPA</strong></label><input
                                                                class="form-control" type="text" placeholder="3.60"
                                                                name="gpa"></div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-group"><label for="act_score"><strong>ACT
                                                                    Score</strong><br></label><input
                                                                class="form-control" type="text" placeholder="25"
                                                                name="act_score"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group"><label for="sat_score"><strong>SAT
                                                                    Score</strong></label><input class="form-control"
                                                                type="text" placeholder="1200" name="sat_score"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group"><button class="btn btn-primary btn-sm"
                                                        id="save_settingsbtn" type="submit">Save Settings</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">More Information</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-row">

                                                    <div class="col">
                                                        <div class="form-group"><label for="title"><strong>Title</strong><br></label>
                                                            <input class="form-control"
                                                                type="text" placeholder="Title"
                                                                id="title"
                                                            >
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <div class="form-group"><label for="description"><strong>Description</strong><br></label>
                                                                <input class="form-control"
                                                                type="text" placeholder="Description"
                                                                id="description"
                                                                >
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </form>

                                            <div class="row">
                                                    <button class="btn btn-primary btn-sm"
                                                        id="profileFirebaseUpdateBtn"
                                                        style="margin-left: 20px; margin-bottom: 25px;"
                                                        >Update</button>
                                                </div>

                                                <div class="table-responsive border rounded shadow">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Title</th>
                                                                <th>Description</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="profileFirebaseTable">
                                                            <tr>
                                                                <td>Title</td>
                                                                <td>Description </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>CS 411 Project</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{% static "assets/js/jquery.min.js" %}"></script>
    <script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static "assets/js/main.js" %}"></script>
    <script src="{% static "assets/js/theme.js" %}"></script>

    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.5.0/firebase-firestore.js"></script>
    <script src="{% static "assets/js/firebase.js" %}"></script>
    <script>
        console.log(firebase.app().name)

        function loadFirebaseProfile() {
            var db = firebase.firestore();
            var profileDoc = db.collection("profiles").doc("{{ currentUser.id }}");

            profileDoc.get().then(function (doc) {
                if (doc.exists) {
                    console.log("Profile data:", doc.data());
                    updateFirebaseProfileTable(doc.data());
                } else {
                    // doc.data() will be undefined in this case
                    console.log("No Profile Data!");
                }
            }).catch(function (error) {
                console.log("Error getting profile:", error);
            });
        }

        function updateFirebaseProfileTable(profileData) {
            $('#profileFirebaseTable').html("");
            Object.entries(profileData).forEach(([key, value]) => {
                console.log("key: " + key + ", value: " + value);
                let keyHtml = "<td>" + key + "</td>";
                let valueHtml = "<td>" + value + "</td>";
                let rowHtml = "<tr>" + keyHtml + valueHtml + "</tr>"
                $('#profileFirebaseTable').append(rowHtml);
            });
        }

        $(document).ready(function () {


            loadFirebaseProfile();
            // db.collection("profiles").doc("{{currentUser.id}}").set({
            //     first: "Ada",
            //     last: "Lovelace",
            //     born: 1815
            // })
            //     .then(function () {
            //         console.log("Profile updated!");
            //     })
            //     .catch(function (error) {
            //         console.error("Error updating profile: ", error);
            //     });
            // }
            $("#profileFirebaseUpdateBtn").on('click', function () {
                let title = $('#title').val();
                let description = $('#description').val();
                var db = firebase.firestore();

                if (description == '' || description == undefined) {
                    console.log("deleting " + title);
                    db.collection("profiles").doc("{{ currentUser.id }}").update({
                        [title]: firebase.firestore.FieldValue.delete()
                    }).then(function() {
                        loadFirebaseProfile();
                    });
                    return;
                }

                db.collection("profiles").doc("{{ currentUser.id }}").set({
                    [title]: description
                }, { merge: true })
                    .then(function () {
                        loadFirebaseProfile();
                    })
                    .catch(function (error) {
                        console.error("Error updating profile: ", error);
                    });
            });

        });

    </script>
</body>

</html>